snmpsim choking on unsigned32

### Expected behavior

Setting an OID with a value of type unsigned32, I would expect to get a response as I do when setting an integer32.

### Actual behavior

Setting an OID with a value of type unsigned32, snmpsim fails to parse the PDU.

### Detailed steps

Send an snmp-set request to the snmpsim host that includes a varbind with type unsigned32.
Note that linux snmp-set sends values as Gauge32 rather than unsigned, when specifying a type of `u`.
This may well be related and ultimately cause for closing the issue, but I do not understand why it behaves this way.

### Python package information

certifi==2025.1.31 cffi==1.17.1 charset-normalizer==3.4.1 cryptography==44.0.2 idna==3.10 Jinja2==3.1.6 MarkupSafe==3.0.2 ply==3.11 pyasn1==0.6.1 pycparser==2.22 pysmi==1.5.11 pysnmp==6.2.6 pysnmpcrypto==0.0.4 requests==2.32.3 snmpsim==1.1.7 urllib3==2.3.0

### Operating system information

python:alpine3.21 Docker image

### Python information

3.21

### (Optional) Contents of your test script

```python
// This is go code (duh)
package main

import (
	"log"

	"github.com/gosnmp/gosnmp"
)

func main() {
	client := gosnmp.Default
	client.Target = "localhost"
	client.Port = 1024

	client.Connect()
	pdu := gosnmp.SnmpPDU{
		Name:  "1.1.1.1",
		Type:  gosnmp.Uinteger32,
		Value: uint(123),
	}
	res, err := client.Set([]gosnmp.SnmpPDU{pdu})
	if err != nil {
		log.Printf("sending SNMP Set PDU: %s", err)
		return
	}
	if res != nil && res.Error != gosnmp.NoError {
		log.Printf("error in SNMP Set response: %s", res.Error)
		return
	}
}
```

### Relevant log output

```shell
2025-03-20 12:07:40 2025-03-20 11:07:40,934 pysnmp: receiveMessage: <TagSet object, tags 64:0:7> not in asn1Spec: <_BindValue schema object, tagSet=<TagSet object, untagged>, subtypeSpec=<ConstraintsIntersection object, consts <ValueSizeConstraint object, consts 1, 1>>, componentType=<NamedTypes object, types <NamedType object, type value=<ObjectSyntax schema object, tagSet=<TagSet object, untagged>, subtypeSpec=<ConstraintsIntersection object, consts <ValueSizeConstraint object, consts 1, 1>>, componentType=<NamedTypes object, types <NamedType object, type simple=<SimpleSyntax schema object, tagSet=<TagSet object, untagged>, subtypeSpec=<ConstraintsIntersection object, consts <ValueSizeConstraint object, consts 1, 1>>, componentType=<NamedTypes object, types <NamedType object, type integer-value=<Integer schema object, tagSet <TagSet object, tags 0:0:2>, subtypeSpec <ConstraintsIntersection object, consts <ValueRangeConstraint object, consts -2147483648, 2147483647>>>>, <NamedType object, type string-value=<OctetString schema object, tagSet <TagSet object, tags 0:0:4>, subtypeSpec <ConstraintsIntersection object, consts <ValueSizeConstraint object, consts 0, 65535>>, encoding iso-8859-1>>, <NamedType object, type objectID-value=<ObjectIdentifier schema object, tagSet <TagSet object, tags 0:0:6>>>>, sizeSpec=<ConstraintsIntersection object>>>, <NamedType object, type application-wide=<ApplicationSyntax schema object, tagSet=<TagSet object, untagged>, subtypeSpec=<ConstraintsIntersection object, consts <ValueSizeConstraint object, consts 1, 1>>, componentType=<NamedTypes object, types <NamedType object, type ipAddress-value=<IpAddress schema object, tagSet <TagSet object, tags 64:0:0>, subtypeSpec <ConstraintsIntersection object, consts <ValueSizeConstraint object, consts 0, 65535>, <ValueSizeConstraint object, consts 4, 4>>, encoding iso-8859-1>>, <NamedType object, type counter-value=<Counter32 schema object, tagSet <TagSet object, tags 64:0:1>, subtypeSpec <ConstraintsIntersection object, consts <ValueRangeConstraint object, consts 0, 4294967295>>>>, <NamedType object, type timeticks-value=<TimeTicks schema object, tagSet <TagSet object, tags 64:0:3>, subtypeSpec <ConstraintsIntersection object, consts <ValueRangeConstraint object, consts 0, 4294967295>>>>, <NamedType object, type arbitrary-value=<Opaque schema object, tagSet <TagSet object, tags 64:0:4>, encoding iso-8859-1>>, <NamedType object, type big-counter-value=<Counter64 schema object, tagSet <TagSet object, tags 64:0:6>, subtypeSpec <ConstraintsIntersection object, consts <ValueRangeConstraint object, consts 0, 18446744073709551615>>>>, <NamedType object, type gauge32-value=<Gauge32 schema object, tagSet <TagSet object, tags 64:0:2>, subtypeSpec <ConstraintsIntersection object, consts <ValueRangeConstraint object, consts 0, 4294967295>>>>>, sizeSpec=<ConstraintsIntersection object>>>>, sizeSpec=<ConstraintsIntersection object>>>, <NamedType object, type unSpecified=<Null value object, tagSet <TagSet object, tags 0:0:5>, subtypeSpec <ConstraintsIntersection object, consts <SingleValueConstraint object, consts b''>>, encoding iso-8859-1, payload []>>, <NamedType object, type noSuchObject=<NoSuchObject value object, tagSet <TagSet object, tags 128:0:0>, subtypeSpec <ConstraintsIntersection object, consts <SingleValueConstraint object, consts b''>>, encoding iso-8859-1, payload [No Such Object c...ists at this OID]>>, <NamedType object, type noSuchInstance=<NoSuchInstance value object, tagSet <TagSet object, tags 128:0:1>, subtypeSpec <ConstraintsIntersection object, consts <SingleValueConstraint object, consts b''>>, encoding iso-8859-1, payload [No Such Instance...ists at this OID]>>, <NamedType object, type endOfMibView=<EndOfMibView value object, tagSet <TagSet object, tags 128:0:2>, subtypeSpec <ConstraintsIntersection object, consts <SingleValueConstraint object, consts b''>>, encoding iso-8859-1, payload [No more variable...in this MIB View]>>>, sizeSpec=<ConstraintsIntersection object>>
```

Unsigned32 was introduced in the middle of SMIv2 standard development but was dropped and deprecated.

I have no idea why the go-snmp developers decided such types should still be supported by their library but to me that's clearly a mistake on their side. 

Thanks for the explanation! Is the fact that unsigned32 is deprecated documented somewhere? I only ready about it in RFC3416, which doesn't suggest it's obsolete.
________________________________
From: Lex Li ***@***.***>
Sent: Thursday, March 20, 2025 4:59:44 PM
To: lextudio/pysnmp ***@***.***>
Cc: Chen, Michael ***@***.***>; Author ***@***.***>
Subject: Re: [lextudio/pysnmp] snmpsim choking on unsigned32 (Issue #173)


Unsigned32 was introduced in the middle of SMIv2 standard development but was dropped and deprecated.

I have no idea why the go-snmp developers decided such types should still be supported by their library but to me that's clearly a mistake on their side.

—
Reply to this email directly, view it on GitHub<https://github.com/lextudio/pysnmp/issues/173#issuecomment-2740952739>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/BJ7A3V3Z4KPBMQ33QAOMJR32VLQXBAVCNFSM6AAAAABZNIWATGVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDONBQHE2TENZTHE>.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[lextm]lextm left a comment (lextudio/pysnmp#173)<https://github.com/lextudio/pysnmp/issues/173#issuecomment-2740952739>

Unsigned32 was introduced in the middle of SMIv2 standard development but was dropped and deprecated.

I have no idea why the go-snmp developers decided such types should still be supported by their library but to me that's clearly a mistake on their side.

—
Reply to this email directly, view it on GitHub<https://github.com/lextudio/pysnmp/issues/173#issuecomment-2740952739>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/BJ7A3V3Z4KPBMQ33QAOMJR32VLQXBAVCNFSM6AAAAABZNIWATGVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDONBQHE2TENZTHE>.
You are receiving this because you authored the thread.Message ID: ***@***.***>

DFS Deutsche Flugsicherung GmbH • Am DFS-Campus • 63225 Langen • Tel.: +49 6103 707-0 • Sitz der Gesellschaft: Langen/Hessen • Zuständiges Registergericht: AG Offenbach am Main, HRB 34977 • Vorsitzende des Aufsichtsrats: Antje Geese • Geschäftsführung: Arndt Schoenemann (Vors.), Dirk Mahns, Friedrich-Wilhelm Menge, Andrea Wächter • www.dfs.de<http://www.dfs.de>

Sollten Sie nicht der richtige Empfänger dieser E-Mail sein, löschen Sie diese bitte.


Just to clear things up a little: Unsigned32 and UInteger32 are two different types. Unsigned32 is an alias for Gauge32 (at the SNMP protocol level, they are exactly the same), whereas UInteger32 is a separate type that was indeed removed between RFC 1442 and RFC 1902 (both ultimately obsoleted by RFC 2578).

Your code uses `gosnmp.Uinteger32`, which would be the obsolete one. In order to use the Unsigned32 type, you will have to use `gosnmp.Gauge32`; again, at the protocol level, they're the same thing.

Oh wow, I didn't even notice I was reading about two different types the whole time.
Thanks a lot, this makes much more sense now :)