DISPLAY-HINT parsing is not correct

For example, when DISPLAY-HINT is "d-1", the output value is 10 times too high. I think the issue is in SNMPv2-TC.py, where values are parsed both on input in prettyIn and on output in prettyOut so that they cancel each other out.

Note that this happens for Unsigned32 values but does not happen for Integer32 values, which I think is caused by another bug where the condition for parsing is different on input and output.

In prettyIn:
```
if self.displayHint and (
    self.__integer.isSuperTypeOf(self, matchConstraints=False)
    and self.getNamedValues()
    or self.__unsigned32.isSuperTypeOf(self, matchConstraints=False)
    or self.__timeticks.isSuperTypeOf(self, matchConstraints=False)
):
```
In prettyOut:
```
if self.displayHint and (
    self.__integer.isSuperTypeOf(self, matchConstraints=False)
    and not self.getNamedValues()
    or self.__unsigned32.isSuperTypeOf(self, matchConstraints=False)
    or self.__timeticks.isSuperTypeOf(self, matchConstraints=False)
):
```
I don't understand why integer is handled differently from unsigned or why the condition is different on input and output.

If I change the conditions as follows, I get correct values also for Unsigned32:

In prettyIn:
```
if self.displayHint and (
    (
        self.__integer.isSuperTypeOf(self, matchConstraints=False)
        or self.__unsigned32.isSuperTypeOf(self, matchConstraints=False)
        or self.__timeticks.isSuperTypeOf(self, matchConstraints=False)
    )
    and self.getNamedValues()
):
```
In prettyOut:
```
if self.displayHint and (
    (
        self.__integer.isSuperTypeOf(self, matchConstraints=False)
        or self.__unsigned32.isSuperTypeOf(self, matchConstraints=False)
        or self.__timeticks.isSuperTypeOf(self, matchConstraints=False)
    )
    and not self.getNamedValues()
):
```
So it may be that the only bug is that only Integer is handled correctly in these if clauses and that the `self.getNamedValues()` checks are different on input and output exactly because conversion should not happen on both, even if I still don't fully understand the logic.

Please allow me to address some of your points..

> For example, when DISPLAY-HINT is "d-1", the output value is 10 times too high. I think the issue is in SNMPv2-TC.py, where values are parsed both on input in prettyIn and on output in prettyOut so that they cancel each other out.

In principle, prettyIn and prettyOut are *supposed* to cancel each other out. When you obtain a value, prettyOut gives you the raw value formatted with the display hint, thus producing a "pretty" value. When you assign a value, prettyIn takes your "pretty" value and reverse-applies the display hint to turn it into a raw value.

As such, it would probably be useful if you could elaborate on your specific use case? If prettyIn and prettyOut canceling each other out is your issue, then I am curious as to what you are doing..

> I don't understand why integer is handled differently from unsigned [..]

That is an inherent aspect of SMI. Specifically, as per RFC 2578 Sec. 7.1, integers may be enumerated; unsigned types may not be. In addition, RFC 2579 Sec. 3.1 basically states that display hints do not apply to enumerations. Thus, the extra condition on integers aims to ensure that if the integer is enumerated, the display hint is not applied even if present. For unsigned types, the same extra condition would be unnecessary, because it is impossible to make unsigned enumerations (that also applies to timeticks).

> [..] or why the condition is different on input and output.

It looks to me that the condition in prettyIn is indeed wrong, and that this is a bug very much in need of fixing. The condition has been like that since that code was added (in 2017) though, which does raise the question why nobody ran into this until now. Display hints on non-enumerated integers are not exactly rare..

However, given that you mentioned you started by using unsigned types, I would expect that it is not the cause of *your* issue here. Still, good find.

> If I change the conditions as follows, I get correct values also for Unsigned32:

Your change to prettyIn effectively disables display hint processing for unsigned types altogether there, so I'm afraid that is not the proper solution in any case.. (In contrast, your change to prettyOut should have no effect at all, for the reasons above.)

> why nobody ran into this until now. Display hints on non-enumerated integers are not exactly rare..

Probably because 1) the code base wasn't under proper unit testing until recently and the test suite remains small. 2) Display hints are most likely to be used in an MIB browser type application, I think, but nothing like that exists upon PySNMP.

Pull requests are welcome if you have any ideas about how we can improve things here.

Thanks for your prompt responses.
> When you obtain a value, prettyOut gives you the raw value formatted with the display hint, thus producing a "pretty" value. When you assign a value, prettyIn takes your "pretty" value and reverse-applies the display hint to turn it into a raw value.

I understand but when you fetch data from a device and print it (like in several of the examples in the documentation), it goes through both prettyIn and prettyOut so that what is printed in the end is not a "pretty" value. I think the problem is that what is fetched from the device is already a raw value so the conversion in prettyIn should not happen.
> As such, it would probably be useful if you could elaborate on your specific use case? If prettyIn and prettyOut canceling each other out is your issue, then I am curious as to what you are doing..

I think our use case is pretty standard. We have a network management application where we (among other things) fetch data from network devices using SNMP and display some values in a GUI. Net-SNMP displays the same values correctly.
> Thus, the extra condition on integers aims to ensure that if the integer is enumerated, the display hint is not applied even if present. For unsigned types, the same extra condition would be unnecessary, because it is impossible to make unsigned enumerations (that also applies to timeticks).

Thanks for the explanation.
> The condition has been like that since that code was added (in 2017) though, which does raise the question why nobody ran into this until now. Display hints on non-enumerated integers are not exactly rare..

Maybe because the behaviour for non-enumerated integers is what users expect and display hints on unsigned are more rare... But I agree, it does seem very strange.

> Display hints are most likely to be used in an MIB browser type application, I think, but nothing like that exists upon PySNMP.

I'm curious about 1) why you think display hints are not likely to be used in e.g. network management applications, and 2) how you are so sure about what exist built on PySNMP.
> Pull requests are welcome if you have any ideas about how we can improve things here.

I was considering submitting a PR with the changes in my comment above but as discussed, this does not seem to be the proper solution.



> 1) why you think display hints are not likely to be used in e.g. network management applications

Applications using SNMP can serve various purposes beyond just managing networks, allowing developers the flexibility to interpret raw SNMP data in unique ways without relying on display hints. In fact, many applications (like Home Assistant) do not even load MIB documents, rendering display hints irrelevant. Despite libraries like PySNMP, which was established in 1999, adding support for display hints at a later stage, these hints are not commonly used in the ecosystem.

> and 2) how you are so sure about what exist built on PySNMP.

As the new maintainers of the PySNMP project, we have conducted extensive research to understand the ecosystem, leading us to this conclusion. The absence of reports on this issue prior to yours also supports this observation.

I had a look at the history of SNMPv2-TC.py and originally there was a check for display hint type "d" whether the value includes a dot, but that check was later removed here:

https://github.com/etingof/pysnmp/commit/fd237891ce46a4d779ba148fc35574bb65d8b9b6#diff-5d202b40b99d0bde710b2b9e395867df8e062f7c3fee4fe6eb8daa77dcd48073R225

There are other checks on other types and my interpretation is that the intention is to not perform any conversions if the input value is already in "raw" format. But the check for type "d" did not work because such a value can be "pretty" formatted without having a dot.

It's complicated and I still don't know what the proper solution is but it seems to me that ideally the code should try to avoid using TextualConvention.prettyIn when it's known that a value is already in "raw" format, e.g. when being fetched directly from a device.



> It's complicated and I still don't know what the proper solution is but it seems to me that ideally the code should try to avoid using TextualConvention.prettyIn when it's known that a value is already in "raw" format, e.g. when being fetched directly from a device.

After a little bit of testing, I can only completely agree here. Against my expectations, prettyIn is indeed called on raw values even in the most basic usage scenarios, and that is indeed something that should not happen. I believe the problem is introduced at the level of the `CommandGeneratorVarBinds` and `NotificationOriginatorVarBinds` classes, whose `make_varbinds()` and `unmake_varbinds()` methods both call `ObjectType.resolve_with_mib()` [^1], which in turn is where the `prettyIn()` call ultimately comes from. Beneath the level of those ~VarBinds classes, the information on whether a value is *for* or *from* a varbind (i.e., pretty or raw) is lost. As such, this seems to be a more structural problem rather than a local bug, unfortunately. In fact, I am not even sure if pyasn1 currently supports creation of an ASN.1 type object with a value, without also calling prettyIn on that value?

Somewhat related: looking into this made me realize I made a mistake in lextudio/pysmi@84be3ff. The TextualConvention class must be the first of the base classes after all, because otherwise application of the display hint will be skipped altogether. I will try to come up with a better fix for that problem as soon as possible. With respect to the issue here however, that will only stop things from getting even worse..

[^1]: or, in the case of  `make_varbinds()`, allow that to have happened already.

> As such, this seems to be a more structural problem rather than a local bug, unfortunately.

Yes, I was afraid it was going to be that complicated.
> Somewhat related: looking into this made me realize I made a mistake in https://github.com/lextudio/pysmi/commit/84be3ff. The TextualConvention class must be the first of the base classes after all, because otherwise application of the display hint will be skipped altogether.

In which cases is the display hint skipped? I think we encountered this bug some time ago but since we didn't have time to investigate it, we just pinned pysmi version to 1.4.4 to resolve it.

Anyway, that is 3 separate display hint related bugs that have now been discovered, right? 



> In which cases is the display hint skipped? 

All of them, I'm afraid! The change effectively prevented TextualConvention.pretty{In,Out} from being called altogether. My bad.

I have just submitted a fix as lextudio/pysmi#7. If you have the opportunity (sometime; no hurry): I would love to hear whether this new fix resolves the issue you encountered with pysmi 1.5.x. If the 1.5.x changes have introduced other regressions, I'd very much like to look into them.

> Anyway, that is 3 separate display hint related bugs that have now been discovered, right?

Given the state that this entire area of functionality seems to be in, I'd expect many more issues to come up. However, in that light, I do think that adding the missing "not" in TextualConvention.prettyIn should be relatively risk-free after all; that would then bring the number of known issues down to one.

On release-7.1 branch, I added two test cases to verify this issue.

In `test_v1_get_scaled_integer_object` if we break on the last assertion and check the type of `varBinds[0][1]`, we can see that this object is `ScaledInteger` as expected. That's why display hint takes effect.

However, in `test_v1_get_scaled_unsigned_object`, the same debugging step observes that `Gauge` is the type, not the expected `ScaledUnsigned`. I believe that's why display hint doesn't take effect.

Therefore, the culprit is elsewhere.

Temp close this, as little can be done at this moment.